.section {
    width: 100%;
    height: 20vw;
    display: flex;
    position: relative;
    padding-left: 7%;
}

.ShadowCover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: all 0.5s;
    z-index: 99;
    display: flex;
}

.ShadowText {
    font-size: 15mm;
    color: white;
    width: 25%;
    height: 10%;
    margin-left: 35%;
    margin-top: 7%;
}

.arrow_wrapper {
    margin-left: 25%;
    margin-bottom: 1%;
    align-self: flex-end;
}

.arrow {
    width: 9vw;
    height: 5vw;
    background: url("../../images/right_arrow_white.png");
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
}

.ShadowCover:hover {
    opacity: 0.85;
}

#BioSect {
    /* background-color: #ffa01e; */
}

.Pic {
    border: 5px solid black;
    border-radius: 26px;
    width: 20%;
    height: 80%;
    margin-top: 2%;
    margin-left: 1%;
}

.Text {
    width: 55%;
    height: 80%;
    border-radius: 26px;
    margin-top: 4%;
    margin-left: 10%;
    padding-top: 2%;
    padding-left: 3%;
    margin-right: 5%;
    font-size: 5mm;
}

#ProjSect {
    /* background-color: #ffc678; */
}